@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?inp1vu');
    src: url('../fonts/icomoon/icomoon.eot?inp1vu#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?inp1vu') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?inp1vu') format('woff'),
        url('../fonts/icomoon/icomoon.svg?inp1vu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-viber:before {
    content: "\e900";
}

.icon-star-o:before {
    content: "\f006";
}

.icon-phone:before {
    content: "\f095";
}

.icon-instagram:before {
    content: "\f16d";
}

.icon-whatsapp:before {
    content: "\f232";
}

.icon-shopping-bag:before {
    content: "\f290";
}

.icon-clear:before {
    content: "\e901";
}

.icon-search:before {
    content: "\e902";
}